/* Colors 
chocolate; #561220
rosa; #E5BCD9
negro; #1D1D1B
buton-principal; #AB4E6B
buton-secundary; #FFFFFF // border; #561220
separador; #CED0D3
gris-texto; #6B737C
*/

/* Generales */
* {
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: auto;
}
body {
  background-color:#FFFFFF;
  color: #091625;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  overflow: auto;
  height: auto;
}
header {
  display: flex;
  background-color:#561220;
  color: #FFFFFF;
  padding: 20px 92px;
  height: 48px;
  position: fixed;
  width: 100%;
}
a {
  text-decoration: none;
  color:#091625 ;
}
p {
  color: #CED0D3;
}
p.grey {
  font-weight: 400;
  line-height: 16px;
  font-size: 16px;
  color: #6B737C;
}

.btn {
  background: #AB4E6B;
  color:#FFFFFF ;
  border-radius: 8px;
  width: 336px;
  height: 48px;
  padding: 12px 24px;
}

/* Logo */
.logo-header img {
  height: 48px;
  width: 250px;
}
.logo-header {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 48px;
  width: 80%;
}

.header-search-cart {
  display: flex;
  width: inherit;
}

/* Search */
.input-group {
  display: flex;
}
.input-group-prepend {
  display: flex;
  width: 40px;
  z-index: 1001;
}
.input-group-prepend i {
  display: inline;
  font-size: 16px;
  color: #091625;
  margin: 18px 80px;
}
.input-group-prepend button {
  height: 48px;
  border:none;
  background-color: transparent;
  color: #561220;
  font-size: 16px;
}
#search-input {
  background-color: #FFFFFF;
  width: 90%;
  height: 40px;
  border-radius: 20px;
  padding: 0px 60px;
  font-size: 16px;
  margin-top: 5px;
}

/* Account-cart-header */
.account-cart-header {
  display: flex;
  align-items: center;
  
}
.account, .cart, a  {
 display: flex;
 align-items: center;
 justify-content: left;
 height: 48px;
}
.account, .cart, a i {
  display: flex;
  text-align: center;
  color: #FFFFFF;
  font-size: 25px; 
  margin: 0px;
  width: 120px;
}
.account, .cart  p {
  font-size: 16px;
  color: #FFFFFF;
}
.account-cart-header a, i, p {
  display: flex;
  align-items: center;
}

/* Aside */
aside {
  overflow: hidden;
}
.categories-products {
  display: flex;
  text-align: left;
  align-items: center;
  background-color:#E5BCD9;
  top: 88px;
  height: 64px;
  position: fixed;
}
.category-products, ul, li {
  padding-left: 30px;
}
.category-products, ul li, a {
  display: inline;
  color: #535C67;
  font-size: 15px;
}

/* Main */
main {
  display: block;
  margin: 12% 92px;
  height: auto;
  width: auto;
  flex-wrap: wrap;
}

/* You cart */
.content {
  width: 100%;
  margin-top: 5%;
  color: #091625;
}
.your-cart {
  display: flex;
}

.content h4 {
  font-weight: 700;
  line-height: 24px;
  font-size: 24px;
  margin-top: 20px;
}
.your-cart-items {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.your-cart-pack {
  display: flex;
  justify-content: space-between;
}
.select-pack {
  display: flex;
  border-bottom: 1px solid #CED0D3;
  width: 70%;
}
.img-product {
  width: 120px;
  height: 120px;
  margin: 40px 0px 49px;
  background-color: #E6E8E9;
}
.inf-product {
  font-weight: 700;
  line-height: 24px;
  font-size: 18px;
  margin: 40px 0px 49px 20px;
}
.inf-product-caracteres ul li {
  display: block;
  font-weight: 600;
  line-height: 24px;
  font-size: 14px;
}
.inf-product-edit button {
  display: inline;
  width: 100px;
  border: none;
  background-color: transparent;
  margin: 24px 0px 0px;
  text-align: left;
} 
.inf-product-edit i {
  display: inline;
  width: 20px;
}
.total-price {
  width: 20%;
  line-height: 24px;
}

/* Order Summary */
.order-summary {
  line-height: 16px;
  width: 25%;
}
.order-summary-content {
  margin: 24px 0px;
}
.number-items {
  border-bottom: 1px solid #CED0D3;
  margin-bottom: 16px;
  padding-bottom: 16px;
}
.order-summary-footer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.btn-white {
  background-color:#FFFFFF;
  color: #091625;
}
/* You migth also like  */
.you-might {
  display: flex;
  flex-direction: column;
}
.you-migth-others {
  display: flex;
  width: 100%;
  margin-top: 40px;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.you-might-item {
  display: flex;
  flex-direction: column;
  width: 200px;
}
.img-item {
  width: 200px;
  height: 200px;
  background-color:#CED0D3;
}
.inf-item {
  line-height: 16px;
  width: 336px;
  line-height: 24px;
}