/* Colors */
:root {
  --chocolate: #561220;
  --rosa: #E5BCD9;
  --negro: #1D1D1B;
  --boton-principal: #AB4E6B;
  --boton-secundary: #FFFFFF;
  --separador: #CED0D3;
  --gris-texto: #6B737C;
}

/* Generales */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  width: 100%;
  overflow: hidden;
}

a {
  color:var(--negro);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: var(--chocolate);
}

.containerPage {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
  border: 1px solid #CED0D3;
}

/* Header */
header {
  background-color: var(--chocolate);
  height: 88px;
  position: relative;
}

img {
  width: 249px;
  height: 45px;
  margin: 20px 44px;
}

aside {

  background-color: var(--rosa);
  width: 100%;
  padding: 22px;
  position: fixed;
}

ul li {
  display: inline;
  margin: 20px;
  height: 64px;
}

ul li a {
  display: flexbox;
}